<div id="container">
  <div class="container-title">
    <div>New Todo</div>
  </div>

  <div class = "edit-name">
    <div><%= render "form", todo: @todo %></div>
  </div>

  <p>
    <%= link_to "Back to todos", todos_path %>
  </p>
</div>
